button {
  height: 75px;
  width: 75px;
  border: none;
  font-size: 20px;
}

.Board {
  display: grid;
  grid-template-columns: repeat(8, 0fr);
  border: 2px solid;
  padding: 0px;
  justify-content: center;
}

.greenSquare {
  background-color: green;
}

.whiteSquare {
  background-color: white;
}

#selected {
  background-color: #dbfc03;
}

.white {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.black {
  color: #000;
}
